---
import "@/main.css";

import { ClientRouter } from "astro:transitions";
import ThemeScript from "@/theme/ThemeScript.astro";
import CalendarButton from "../components/CalendarButton.astro";

import Posthog from "@/components/posthog.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <Posthog />
        <ClientRouter transition:animate={"fade"} />
        <ThemeScript />
        <meta name="facebook-domain-verification" content="t37babibf9k1pnylu4ukm5vkjgectq" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href={"/favicon.ico"} />
        <link rel="mask-icon" href={"/favicon.svg"} />
        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" } />
        <meta name="generator" content={Astro.generator} />
        <title>LAP Media</title>
        <script is:inline>
            !(function (f, b, e, v, n, t, s) {
                if (f.fbq) return;
                n = f.fbq = function () {
                    n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
                };
                if (!f._fbq) f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = "2.0";
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s);
            })(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js");
            fbq("init", "1051825026840578");
            fbq("track", "PageView");
        </script>
    </head>
    <body>
        <slot />
        <CalendarButton />
    </body>
</html>
